<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.mapper.ArticleMapper">
    <select id="searchByArticleName" resultType="com.music.entity.Article">
        select *
        from articles
        where articleName = #{username}
    </select>
    <select id = "pageCC" resultType = "com.music.entity.Article">
        select * from articles ${ew.customSqlSegment}
    </select>
</mapper>