<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.mapper.ExpertMapper">
    <select id="searchByExName" resultType="com.music.entity.Expert">
        select *
        from experts
        where ex_name = #{exName}
    </select>
    <select id = "pageCC" resultType = "com.music.entity.Expert">
        select * from experts ${ew.customSqlSegment}
    </select>
</mapper>