<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.mapper.MusicMapper">
    <select id="selectMusicRecommendVOList" resultType="com.music.vo.MusicRecommendVO">
        SELECT
            music_details.*,
            music_recommend.*
        FROM
            music_details,
            music_recommend
        WHERE
            music_details.details_id = music_recommend.recommend_id;
    </select>
    <select id="selectMusicList" resultType="com.music.entity.Music">
        SELECT * FROM music_details
        WHERE author LIKE '%' || #{pattern} || '%' OR title LIKE '%' || #{pattern} || '%'
    </select>
</mapper>
