# General
HELP.md
.DS_Store
mysql/
redis/
music_files/
# Build directories
target/
build/
!**/src/main/**/target/
!**/src/main/**/build/
!**/src/test/**/target/
!**/src/test/**/build/

# Maven
!.mvn/wrapper/maven-wrapper.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/java/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Node
node_modules
/dist

# Environment files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# JetBrains Rider
/shelf/
/workspace.xml
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# c/c++
/C/*.exe
/C/cmake-build-debug/
/CPP/cmake-build-debug/
/CPP/*.exe
